/* Fuente MONTSERRAT */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/* Fuente ROBOTO */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Estilos de fuente por defecto */
:root {
  --font-default: 'Roboto', sans-serif !important;
  --font-family: 'Roboto', sans-serif !important;
  --font-secondary: "Montserrat", sans-serif; 
}

/* Global Colors */
:root {
  --color-default: #212529;
  --color-default-rgb: 33, 37, 41;
  --color-background: #ffffff;
  --color-background-rgb: 255, 255, 255;
  --color-primary: #000000;
  --color-intent-hover-button: 193, 203, 77;
  --color-primary-rgb: 216, 199, 152;
  --color-secondary: #32353a;
  --color-secondary-rgb: 50, 53, 58;
  --color-box-background: #ffffff;
  --color-box-background-rgb: 255, 255, 255;
  --color-inverse: #ffffff;
  --color-inverse-rgb: 255, 255, 255;
}

/* Nav Menu Colors */
:root {
  --color-nav: #3a3939;
  --color-nav-hover: #d8c798;
  --color-nav-dropdown: #3a3939;
  --color-nav-dropdown-hover: #d8c798;
  --color-nav-dropdown-background: #ffffff;
  --color-nav-mobile-background: #ffffff;
}

/* Smooth scroll */
:root {
  scroll-behavior: smooth;
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  color: var(--color-default);
  background-color: var(--color-background);
  font-family: var(--font-default);
}

a {
  color: var(--color-primary);
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: rgba(var(--color-primary-rgb), 0.7);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary), monospace;
  font-weight: 5ß00;
}

section {
  color: var(--color-default);
  background-color: var(--color-background);
  padding: 60px 0;
  overflow: clip;
}

p, span {
  font-family: 'Roboto', sans-serif !important;
  font-weight: 300; 
}

a, li {
  font-family: var(--font-primary);
  font-weight: 500; 
}


/*--------------------------------------------------------------
# Section Title
--------------------------------------------------------------*/
.section-title {
  text-align: right;
  padding-bottom: 60px;
}

.section-title h2 {
  text-align: left;
  color: var(--color-secondary);
  font-size: 32px;
  font-weight: 700;
  position: relative;
}

.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Page Title & Breadcrumbs
--------------------------------------------------------------*/
.page-title {
  --color-box-background: rgba(var(--color-default-rgb), .05);
  color: var(--color-default);
  background-color: var(--color-background);
}

.page-title .heading {
  padding: 80px 0;
  border-top: 1px solid rgba(var(--color-default-rgb), 0.1);
}

.page-title .heading h1 {
  font-size: 38px;
  font-weight: 700;
  color: var(--color-secondary);
}

.page-title nav {
  background-color: var(--color-box-background);
  padding: 20px 0;
}

.page-title nav ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  font-size: 16px;
  font-weight: 600;
}

.page-title nav ol li+li {
  padding-left: 10px;
}

.page-title nav ol li+li::before {
  content: "/";
  display: inline-block;
  padding-right: 10px;
  color: rgba(var(--color-default-rgb), 0.3);
}

/*--------------------------------------------------------------
# Global Header
--------------------------------------------------------------*/
.header {
  --color-background: #ffffff;
  --color-inverse: #ffffff;
  color: var(--color-default);
  background-color: var(--color-background);
  transition: all 0.5s;
  z-index: 997;
}

.header .logo img {
  max-height: 70px;
  margin-left: 15px;
  width: auto;
}

.header .logo h1 {
  font-size: 24px;
  margin: 0;
  font-weight: 600;
  color: var(--color-secondary);
}

.header .logo span {
  color: var(--color-primary);
  font-size: 24px;
  font-weight: 600;
  padding-left: 3px;
}

.btn-getstarted,
.btn-getstarted:focus {
  color: var(--color-inverse);
  background: rgb(146, 100, 66);
  font-size: 14px;
  padding: 8px 26px;
  margin: 0 0;
  border-radius: 4px;
  transition: 0.3s;
}

.btn-getstarted:hover,
.btn-getstarted:focus:hover {
  color: var(--color-inverse);
  background: rgba(var(--color-intent-hover-button),0.6);
}

@media (max-width: 768px) {
  .header .logo {
    order: 1;
  }

  .btn-getstarted {
    order: 2;
    margin: 0 15px 0 0;
    padding: 6px 20px;
  }

  .header .navmenu {
    order: 3;
    margin-right: 10px;
  }
}

#first-row .container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#first-row .social-links {
  display: flex;
  flex-wrap: wrap; 
  align-items: center;
  margin-top: 10px;
  padding-right: 2.5%!important;
}

#first-row .social-links a {
  font-size: 18px;
  margin: 0 5px; /* Espaciado entre los iconos */
  
}

/* Resto del CSS para el segundo row (abajo) */
#second-row .container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .big-screen {
    display: none;
  }
  .small-screen {
    display: block;
  }
}

@media screen and (min-width: 769px) {
  .big-screen {
    display: block;
  }
  .small-screen {
    display: none;
  }

  #titulo {
    font-weight: bold;
    font-size: 22px;
  }

  #loading-text {
    font-size: 20px!important;
    line-height: 1.5;
    color: white; 
    transition: color 0.3s;
    margin: 10 auto !important;
    width: 90%;
	  max-width: 70ch;
    font-style: italic;
  }

}


/* Global Header on page scroll
------------------------------*/
.scrolled .header {
  --color-background: #ffffff;
  --color-secondary: #444444;
  --color-nav: #444444;
  --color-nav-hover: #d8c798;
  box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.1);
}

/* Global Scroll Margin Top
------------------------------*/
section {
  scroll-margin-top: 120px;
}

@media (max-width: 768px) {
  section {
    scroll-margin-top: 66px;
  }
}

/* Home Page Custom Header
------------------------------*/
.index-page .header {
  --color-background: rgba(255, 255, 255, 0);
  --color-secondary: #ffffff;
  --color-nav: rgba(255, 255, 255, 0.515);
  --color-nav-hover: #ffffff;
}

/* Home Page Custom Header on page scroll
------------------------------*/
.index-page.scrolled .header {
  --color-background: #ffffff;
  --color-secondary: #444444;
  --color-nav: #444444;
  --color-nav-hover: #d8c798;
}


/*--------------------------------------------------------------
# Scroll Top Button
--------------------------------------------------------------*/
.scroll-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  background-color: var(--color-primary);
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.scroll-top i {
  font-size: 24px;
  color: #ffffff;
  line-height: 0;
}

.scroll-top:hover {
  background-color: rgba(var(--color-intent-hover-button),0.6);
  color: #ffffff;
}

.scroll-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  inset: 0;
  z-index: 9999;
  overflow: hidden;
  background-color: var(--color-background);
  transition: all 0.6s ease-out;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#preloader div {
  width: 13px;
  height: 13px;
  background-color: var(--color-primary);
  border-radius: 50%;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
  position: absolute;
  left: 50%;
}

#preloader div:nth-child(1) {
  left: calc(50% + 8px);
  animation: animate-preloader-1 0.6s infinite;
}

#preloader div:nth-child(2) {
  left: calc(50% + 8px);
  animation: animate-preloader-2 0.6s infinite;
}

#preloader div:nth-child(3) {
  left: calc(50% + 32px);
  animation: animate-preloader-2 0.6s infinite;
}

#preloader div:nth-child(4) {
  left: calc(50% + 56px);
  animation: animate-preloader-3 0.6s infinite;
}

@keyframes animate-preloader-1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes animate-preloader-3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes animate-preloader-2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  --color-background: var(--color-primary);
  color: var(--color-background);
  background-color: hsl(59, 93%, 52%) !important;
  font-size: 14px;
  padding-bottom: 20px;
}

.footer .footer-top {
  padding-top: 50px;
  color: #000000;
}

.footer .footer-about .logo {
  line-height: 0;
  margin-bottom: 25px;
}

.footer .footer-about .logo img {
  max-height: 40px;
  margin-right: 6px;
}

.footer-about span {
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
}

.footer .footer-about p {
  font-size: 14px;
  font-family: var(--font-primary);
}

.social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.5);
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
  margin-right: 10px;
  transition: 0.3s;
}

.social-links a:hover {
  color: #000000;
  border-color: #000000;
}

.footer h4 {
  color: #000000;
  font-size: 16px;
  font-weight: bold;
  position: relative;
  padding-bottom: 12px;
}

.footer .footer-links {
  margin-bottom: 30px;
}

.footer .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer .footer-links ul i {
  padding-right: 2px;
  font-size: 12px;
  line-height: 0;
}

.footer .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.footer .footer-links ul li:first-child {
  padding-top: 0;
}

.footer .footer-links ul a {
  color: #000000(255, 255, 255, 0.8);
  display: inline-block;
  line-height: 1;
}

.footer .footer-links ul a:hover {
  color: #000000;
}

.footer .footer-contact p {
  color: #000000 !important;
  margin-bottom: 5px;
}

.footer .copyright {
  padding-top: 25px;
  padding-bottom: 25px;
}

.footer .copyright p {
  color: #000000 !important;
  margin-bottom: 0;
}


/*--------------------------------------------------------------
# Home Page
--------------------------------------------------------------*/
/* inicio Section - Home Page
------------------------------*/
.inicio {
  width: 100%;
  min-height: 60vh;
  margin-top: 100px;
  padding: 0 0 80px 0;
  align-items: center;
  justify-content: center;
  background-image: url("../img/home-bg.png");
  background-position-y: -5vh;
  background-size: cover;
}

@media (max-width: 768px) {
  .inicio h2 {
    font-size: 32px;
  }

  .inicio p {
    font-size: 18px;
  }
}

#loading-text {
  font-size: 20px;
  line-height: 1.5;
  color: gray; /* Color de letra gris inicial */
  transition: color 0.3s; /* Transición de color en 0.3 segundos */
  font-style: italic;
}

.black {
  color: black !important; /* Forzar el color a negro */
}

.word {
  color: gray;
  transition: color 0.3s;
}

/* Call-to-action Section - Home Page
------------------------------*/
.call-to-action {
  --color-default: #ffffff;
  --color-background: #000000;
  --color-background-rgb: 0, 0, 0;
  padding: 80px 0;
  position: relative;
  -webkit-clip-path: inset(0);
  clip-path: inset(0);
}

.call-to-action img {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  z-index: 1;
}

.call-to-action:before {
  content: "";
  background: rgba(var(--color-background-rgb), 0.5);
  position: absolute;
  inset: 0;
  z-index: 2;
}

.call-to-action .container {
  position: relative;
  z-index: 3;
}

.call-to-action h3 {
  font-size: 28px;
  font-weight: 700;
  color: var(--color-default);
}

.call-to-action p {
  color: var(--color-default);
}

.call-to-action .cta-btn {
  font-family: var(--font-primary);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 40px;
  border-radius: 5px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid var(--color-inverse);
  color: var(--color-inverse);
}

.call-to-action .cta-btn:hover {
  background: var(--color-primary);
  border: 2px solid var(--color-primary);
}

/* Testimonials Section - Home Page
------------------------------*/
.testimonials {
  --color-background: #f4f4f4;
}

.testimonials .info h3 {
  color: var(--color-secondary);
  font-weight: 700;
  font-size: 32px;
}

.testimonials .swiper {
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.05);
  background: var(--color-box-background);
}

.testimonials .testimonials-carousel,
.testimonials .testimonials-slider {
  overflow: hidden;
}

.testimonials .testimonial-item {
  box-sizing: content-box;
  min-height: 200px;
  position: relative;
  margin: 30px;
}

.testimonials .testimonial-item .testimonial-img {
  width: 90px;
  height: 90px;
  border-radius: 50px;
  border: 6px solid var(--color-background);
  margin-right: 10px;
}

.testimonials .testimonial-item h3 {
  color: var(--color-secondary);
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 0;
}

.testimonials .testimonial-item h4 {
  color: rgba(var(--color-default-rgb), 0.5);
  font-size: 14px;
  margin: 0;
}

.testimonials .testimonial-item .stars {
  margin: 10px 0;
}

.testimonials .testimonial-item .stars i {
  color: #ffc107;
  margin: 0 1px;
}

.testimonials .testimonial-item .quote-icon-left,
.testimonials .testimonial-item .quote-icon-right {
  color: rgba(var(--color-primary-rgb), 0.4);
  font-size: 26px;
  line-height: 0;
}

.testimonials .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}

.testimonials .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
  transform: scale(-1, -1);
}

.testimonials .testimonial-item p {
  font-style: italic;
  margin: 15px auto 15px auto;
}

.testimonials .swiper-wrapper {
  height: auto;
}

.testimonials .swiper-pagination {
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
}

.testimonials .swiper-pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: rgba(var(--color-default-rgb), 0.15);
  opacity: 1;
  border: none;
}

.testimonials .swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--color-primary);
}

@media (max-width: 767px) {

  .testimonials .testimonials-carousel,
  .testimonials .testimonials-slider {
    overflow: hidden;
  }

  .testimonials .testimonial-item {
    margin: 15px;
  }
}

/* Recent-posts Section - Home Page
------------------------------*/
.recent-posts article {
  background-color: var(--color-box-background);
  box-shadow: 0 4px 16px rgba(var(--color-default-rgb), 0.1);
  padding: 30px;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.recent-posts .post-img {
  max-height: 240px;
  margin: -30px -30px 15px -30px;
  overflow: hidden;
}

.recent-posts .post-category {
  font-size: 16px;
  color: rgba(var(--color-default-rgb), 0.5);
  margin-bottom: 10px;
}

.recent-posts .title {
  font-size: 20px;
  font-weight: 600;
  padding: 0;
  margin: 0 0 20px 0;
}

.recent-posts .title a {
  color: var(--color-secondary);
  transition: 0.3s;
}

.recent-posts .title a:hover {
  color: var(--color-primary);
}

.recent-posts .post-author-img {
  width: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.recent-posts .post-author {
  font-weight: 600;
  margin-bottom: 5px;
}

.recent-posts .post-date {
  font-size: 14px;
  color: rgba(var(--color-default-rgb), 0.5);
  margin-bottom: 0;
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Portfolio Details Page
--------------------------------------------------------------*/
/* Portfolio-details Section - Portfolio Details Page
------------------------------*/
.portfolio-details .portfolio-details-slider img {
  width: 100%;
}

.portfolio-details .swiper-wrapper {
  height: auto;
}

.portfolio-details .swiper-button-prev,
.portfolio-details .swiper-button-next {
  width: 48px;
  height: 48px;
}

.portfolio-details .swiper-button-prev:after,
.portfolio-details .swiper-button-next:after {
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(0, 0, 0, 0.15);
  font-size: 24px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.portfolio-details .swiper-button-prev:hover:after,
.portfolio-details .swiper-button-next:hover:after {
  background-color: rgba(0, 0, 0, 0.3);
}

@media (max-width: 575px) {

  .portfolio-details .swiper-button-prev,
  .portfolio-details .swiper-button-next {
    display: none;
  }
}

.portfolio-details .portfolio-info h3 {
  color: var(--color-secondary);
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.portfolio-details .portfolio-info h3:after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: var(--color-primary);
  left: 0;
  bottom: 0;
}

.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.portfolio-details .portfolio-info ul li {
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
}

.portfolio-details .portfolio-info ul strong {
  text-transform: uppercase;
  font-weight: 400;
  color: rgba(var(--color-default-rgb), 0.5);
  font-size: 14px;
}

.portfolio-details .portfolio-info .btn-visit {
  padding: 8px 40px;
  background: var(--color-primary);
  color: var(--color-inverse);
  border-radius: 50px;
  transition: 0.3s;
}

.portfolio-details .portfolio-info .btn-visit:hover {
  background: rgba(var(--color-primary-rgb), 0.8);
}

.portfolio-details .portfolio-description h2 {
  color: var(--color-secondary);
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.portfolio-details .portfolio-description p {
  padding: 0;
}

.portfolio-details .portfolio-description .testimonial-item {
  padding: 30px 30px 0 30px;
  position: relative;
  background: var(--color-box-background);
  margin-bottom: 50px;
}

.portfolio-details .portfolio-description .testimonial-item .testimonial-img {
  width: 90px;
  border-radius: 50px;
  border: 6px solid var(--color-background);
  float: left;
  margin: 0 10px 0 0;
}

.portfolio-details .portfolio-description .testimonial-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 15px 0 5px 0;
  padding-top: 20px;
}

.portfolio-details .portfolio-description .testimonial-item h4 {
  font-size: 14px;
  color: #6c757d;
  margin: 0;
}

.portfolio-details .portfolio-description .testimonial-item .quote-icon-left,
.portfolio-details .portfolio-description .testimonial-item .quote-icon-right {
  color: rgba(var(--color-primary-rgb), 0.5);
  font-size: 26px;
  line-height: 0;
}

.portfolio-details .portfolio-description .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}

.portfolio-details .portfolio-description .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
  transform: scale(-1, -1);
}

.portfolio-details .portfolio-description .testimonial-item p {
  font-style: italic;
  margin: 0 0 15px 0 0 0;
  padding: 0;
}

/*--------------------------------------------------------------
# Services Details Page
--------------------------------------------------------------*/
/* Service-details Section - Services Details Page
------------------------------*/
.service-details .service-box {
  padding: 20px;
  box-shadow: 0px 2px 20px rgba(var(--color-default-rgb), 0.12);
  background-color: var(--color-box-background);
}

.service-details .service-box+.service-box {
  margin-top: 30px;
}

.service-details .service-box h4 {
  color: var(--color-secondary);
  font-size: 20px;
  font-weight: 700;
  border-bottom: 2px solid rgba(var(--color-default-rgb), 0.08);
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.service-details .services-list a {
  color: rgba(var(--color-default-rgb), 0.8);
  background-color: rgba(var(--color-default-rgb), 0.04);
  display: flex;
  align-items: center;
  padding: 12px 15px;
  margin-top: 15px;
  transition: 0.3s;
}

.service-details .services-list a:first-child {
  margin-top: 0;
}

.service-details .services-list a i {
  font-size: 16px;
  margin-right: 8px;
  color: var(--color-primary);
}

.service-details .services-list a.active {
  color: var(--color-inverse);
  background-color: var(--color-primary);
}

.service-details .services-list a.active i {
  color: var(--color-inverse);
}

.service-details .services-list a:hover {
  background-color: rgba(var(--color-primary-rgb), 0.05);
  color: var(--color-primary);
}

.service-details .download-catalog a {
  color: var(--color-default);
  display: flex;
  align-items: center;
  padding: 10px 0;
  transition: 0.3s;
  border-top: 1px solid rgba(var(--color-default-rgb), 0.1);
}

.service-details .download-catalog a:first-child {
  border-top: 0;
  padding-top: 0;
}

.service-details .download-catalog a:last-child {
  padding-bottom: 0;
}

.service-details .download-catalog a i {
  font-size: 24px;
  margin-right: 8px;
  color: var(--color-primary);
}

.service-details .download-catalog a:hover {
  color: var(--color-primary);
}

.service-details .help-box {
  background-color: var(--color-primary);
  color: var(--color-inverse);
  margin-top: 30px;
  padding: 30px 15px;
}

.service-details .help-box .help-icon {
  font-size: 48px;
}

.service-details .help-box a {
  color: var(--color-inverse);
}

.service-details .services-img {
  margin-bottom: 20px;
}

.service-details h3 {
  color: var(--color-secondary);
  font-size: 26px;
  font-weight: 700;
}

.service-details p {
  font-size: 15px;
}

.service-details ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.service-details ul li {
  padding: 5px 0;
  display: flex;
  align-items: center;
}

.service-details ul i {
  font-size: 20px;
  margin-right: 8px;
  color: var(--color-primary);
}

/* estilos personalizados */
#titulo {
  font-weight: bold;
}

#contactenos {
  font-size: 14px;
  margin-bottom: -125px;
  color: black !important;
}

.content-wrapper {
  position: relative;
  z-index: 2;
}

.large-icon {
  font-size: 10rem; 
  color: black; 
}

.medium-icon {
  font-size: 5rem; 
  color: white; 
}

.small-icon {
  font-size: 3rem; 
  color: white; 
}

.box {
  display: inline-block;
  padding: 10px;
  background-color: transparent;
  text-align: center;
  text-decoration: none;
}

.box-icon {
  font-size: 5rem; 
  color: black; 
}

.form-contact .box {
  margin-right: 8px;
}

.icon {
  font-size: 30px;
  color: white;
  margin-bottom: 10px;
}

.text {
  text-align: center;
  color: black;
}

.description {
  display: none;
  text-align: center;
  padding-top: 10px;
  color: black;
}

.top-space {
  margin-top: 40px;
}

.searchbar {
  position: relative;
  width: 400px;
  margin-bottom: auto;
  margin-top: 10px;
  height: 60px;
  background-color: white;
  border-radius: 30px;
  padding: 10px;
  display: flex;
  align-items: center;
  border-style: solid;
  border-color: #004AAD;
}

.searchbar.small {
  height: 40px;
}

.search_input {
  color: black;
  border: 0;
  outline: 0;
  background: none;
  line-height: 100px;
  padding: 0 10px;
  width: 450px;
  caret-color: red;
  vertical-align: middle;
}

.searchbar:hover > .search_icon {
  background: white;
  color: #004aad;
}

.search_icon {
  height: 40px;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: black;
  text-decoration: none;
}

.service {
  border: 2px solid #004AAD;
  border-radius: 10%;
  background-color: #f6f8f9;
  height: 100px;
  margin: 10px;
  padding: 20px;
  font-weight: 300;
}

.service a {
  color: #212529;
}

.schedule {
  border: 2px solid #004AAD;
  border-radius: 10%;
  background-color: #f6f8f9;
  height: 400px;
  margin: 10px;
  padding: 15%;
}

iframe{
  border-radius:50px;
 }

.button {
  background: #f6f8f9;
  color: #212529;
  padding: 20px 30px;
  border-radius: 5px;
  box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  -webkit-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms;
  min-height: 160px;
  width: 100%;
}

.button:hover {
  box-shadow: 0px 37px 20px -20px rgba(0, 0, 0, 0.2);
  -webkit-transform: translate(0px, -10px) scale(1.2);
          transform: translate(0px, -10px) scale(1.2);
}

.service-logo {
  height: 50px;
  width: 50px;
}

.nav-link {
  color: #000000;
}

.nav-link:hover {
  color: var(--color-primary);
}

#mainNav {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

#mainNav .container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#mainNav .row {
  width: 100%;
  display: flex;
  align-items: center;
}

#mainNav .navbar-brand {
  order: 1;
  flex-grow: 1; /* Ocupa todo el espacio posible a su izquierda */
}

#mainNav .nav-link.title {
  order: 2;
  flex-grow: 2; /* Ocupa el doble de espacio en el centro, centrando así el título */
}

#mainNav .navbar-collapse {
  order: 3;
  flex-grow: 1; /* Ocupa todo el espacio posible a su derecha */
}

#mainNav .navbar-nav {
  justify-content: flex-end; /* Alinea la lista de navegación a la derecha dentro de su contenedor */
}

.logo-align {
  display: flex;
  justify-content: start;
}

@media (max-width: 992px) {
  #mainNav .navbar-toggler {
      order: 3;
  }

  #mainNav .nav-link.title {
      order: 2;
      display: block;
  }

  #mainNav .navbar-collapse {
      order: 4;
      width: 100%;
  }

  #mainNav .navbar-brand {
    order: 1;
    margin: 0 auto;
  }
}

@media (max-width: 800px) {
  #mainNav .nav-link.title {
      order: 2;
      display: none;
  }
}

@media screen and (max-width: 600px){
  .logo-align {
    justify-content: center !important;
  }
}

/* Por defecto (para pantallas pequeñas), ocultamos el texto */
.contact-info {
  display: none;
}

/* Para pantallas de 992px o más, mostramos el texto */
@media (min-width: 992px) {
  .contact-info {
      display: inline;
  }

}

.card-infraction {
  background-color: white;
  height: 160px;
  overflow-y: auto;
}

.card-price-total {
  background-color: #ef5350;
  min-height: 160px;
}

.card-price-discount {
  background-color: #81c784;
  min-height: 160px;
}

.card-price-course {
  background-color: #4FC3F7;
  min-height: 160px;
}

.price {
  font-size: 1.375rem;
}



@media screen and (max-width: 652px){
  .hide-on-phone {
    display: none !important;
  }
}

.img-carousel {
  width: 100% !important;
  max-height: 600px;
  height: auto;
}

.btn-primary {
font-size: x-large;
}

.button-card {
  background-color: rgb(2, 60, 250);
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.btn-card-container{
  padding: 10px;
}